body{
    background-color: black;
}
.fondo{
    width: 640px;
    height: 415px;
    background-image:url(images/fondo-bosque.gif);
    background-size: cover;
    position: relative;
    border: 10px solid white;
    border-radius: 20px;
}
.mosca{
    width: 50px;
    position: absolute;
    top: 180px;
    left: 300px;
}